@charset "UTF-8";

p#sobremim{
    line-height: 1.5;
    width: 25%;
    margin-left: 10%;
    text-indent: 15px;
}

iframe#video{
    position: absolute;
    top: 120px;
    right: 250px;
    box-shadow: 5px 9px 30px #000;
}